.react-calendar-timeline * {
  box-sizing: border-box;
}

/* Main Timeline Window */
.react-calendar-timeline {
  position: absolute;
  top: 3rem;
  border: 1px red solid;
}

.rct-header-root {
  background-color: red;
  border-bottom: 1px solid black;
}

.rct-outer {
  overflow: hidden;
  white-space: nowrap;
}
